@import "modules/_mixins";
@import "modules/_variables";
@import "partials/_footer";
@import "partials/_header";
@import "partials/_menu";
@import "partials/_search";
@import "partials/_home";

* {
	box-sizing:border-box;

}

@font-face {
	font-family: 'MavenPro';
	src: url('fonts/Maven-Pro-Regular.otf')
}
@font-face {
	font-family: 'MavenProBold';
	src: url('fonts/Maven-Pro-Bold.otf')
}

body {
	background: linear-gradient(90deg, $aqua 10%, $royalBlue 90%);
	font-family: 'MavenPro';
	color: $primaryFont;
	font-size:14px;
}

.main-container {
  background-color: white;
  max-width: $contWidth;
  margin: 0 auto;
}

.blockName {
	text-transform: uppercase;
	font-family: 'MavenProBold';
	color: $mainBlue;
	font-size: 13px;
	width: 100%;
	padding-top: 8px;
	margin-bottom: 20px;
	p {
		float: left;
		  margin: 0 20px 0 0;
	}
	hr {
		border: 0;
		border-bottom: 1px solid $secondaryFont;
	}
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

.control-label {
	
	font-family: 'MavenProBold';
	input {
		display:none;
	}
	input:checked+span {
		background-color: $mainBlue;
		color:white;
		border-color:$mainBlue;
	}
}
.control-wrapper {
	display:block;
	height: 100%;
	border-radius: 20px;
	&:hover {
		background-color: $mainGray;
	}
}


.nav__arrows {
	width:20px;
	height:20px;
	z-index: 10;
	position:absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	cursor:pointer;
	&:after {
			content: '';
			position: absolute;
			top: 100%;
			right: 85%;
			height: 100%;
			width: 10%;
			background: $mainGray;
	}
	&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 10%;
			background: $mainGray;
			transform: skew(45deg, 0deg);
	}
	&--next {
		left: 90%;
		&:after {
			transform: skew(-45deg, 0deg);
		}
		&:before {
			transform: skew(45deg, 0deg);
		}
	}
	&--prev {
		right: 90%;
		&:after {
			transform: skew(-135deg, 0deg);
		}
		&:before {
			transform: skew(135deg, 0deg);
		}
	}
}

.nav {
	&__dots {
		position:absolute;
		z-index:10;
		bottom: 25px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 105px;
		.nav__dot {
			width: 11px;
			height: 11px;
			margin: 5px;
			display: inline-block;
			border-radius: 50%;
			border: 2px solid white;
			cursor: pointer;
			&.nav__dotActive {
				border-color: $mainBlue;
			}
		}
	}
}
