@import "modules/_mixins";
@import "modules/_variables";
@import "partials/_footer";
@import "partials/_header";
@import "partials/_menu";
@import "partials/_search";
@import "partials/_home";
@import "partials/_list";
@import "partials/_article";


* {
	box-sizing:border-box;
}

@font-face {
	font-family: 'MavenPro';
	src: url('fonts/Maven-Pro-Regular.otf')
}
@font-face {
	font-family: 'MavenProBold';
	src: url('fonts/Maven-Pro-Bold.otf')
}

body {
	background: linear-gradient(90deg, $aqua 10%, $royalBlue 90%);
	font-family: 'MavenPro';
	color: $primaryColor;
	font-size:$mainfs;
	@include bp(medium) {
		font-size:$smallfs;
	}
}

.main-container {
  background-color: $white;
  max-width: $contWidth;
  margin: 0 auto;
	box-shadow: 0 0 10px;
}

.block-name {
	text-transform: uppercase;
	font-family: 'MavenProBold';
	color: $mainBlue;
	font-size: $betafs;
	width: 100%;
	padding-top: 10px;
	margin-bottom: 20px;
	p {
		float: left;
		  margin: 0 20px 0 0;
	}
	hr {
		border: 0;
		border-bottom: 1px solid $betaColor;
	}
}

.clearfix:after{
    content:'';
    display:table;
    clear:both;
}

.control-label {
	font-family: 'MavenProBold';
	input {
		display:none;
	}
	input:checked+span {
		@include mainControl();
	}
}
.control-wrapper {
	display:block;
	height: 100%;
	border-radius: $ovalBorderRad;
	&:hover {
		background-color: $mainGray;
		cursor: pointer;
	}
}


.nav__arrows {
	width: 10%;
	height: 100%;
	z-index: 10;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	cursor:pointer;
	@include bp(medium) {
		width: 7%;
	}
	&--next {
		left: 90%;
		@include bp(medium) {
			left: 93%;
		}
	}
	&--prev {
		right: 90%;
		@include bp(medium) {
			right: 93%;
		}
	}
	&:hover .nav-arr{
		width: 60px;
		@include bp(medium) {
			width: 50px;
		}
	}
}
.nav-arr {
	  &--prev {
			transform: rotate(180deg);
		};
		width: 50px;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
		@include bp(medium) {
			width: 40px;
		}
}
.nav {
	&__dots {
		position:absolute;
		z-index:10;
		bottom: 25px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 105px;
		.nav__dot {
			width: 11px;
			height: 11px;
			margin: 5px;
			display: inline-block;
			border-radius: 50%;
			border: 2px solid $white;
			box-shadow: 0 0 10px;
			cursor: pointer;
			&.nav__dot--active {
				border-color: $mainBlue;
				box-shadow: 0 0 10px $mainBlue;
			}
		}
	}
}

.star{
	display: inline-block;
	width: 14px;
	&__half .star-svg{
		fill: $lightestGray;
	}
	&__empty .star-svg{
		fill:red;
	}
}
.star path{
	fill: white !important;
}
