<div class='home'>

	<div class="home__banner" ng-hide='hideNowPlaying'>
		<div class='nowPlaying' ng-repeat = "movie in NowPlaying">
				<div class='nowPlaying__main-cont' ng-show="movie.isShown">
					<div class='nowPlaying__img-cont'>
						<img ng-src={{movie.poster}}/>
					</div>
				</div>
				<div class='nowPlaying__data-cont' ng-show="movie.isShown">
							<a href='/#/movie/{{movie.id}}'>{{movie.title}}</a>
							<p>{{movie.year}}</p>
							<p>{{movie.fullDate}}</p>
							<p>{{movie.vote}}/10</p>
							<p>{{movie.runtime}} min</p>
							<div>
								<span ng-repeat = "genre in movie.genres" href="">{{genre.name}}</span>
							</div>
							<a href="/#/home/trailer/{{movie.trailer}}" ng-click="showTrailer(movie.trailer)">Watch Trailer</a>
				</div>
		</div>
		<div 
			class="nav__arrows nav__arrows--next" 
			ng-click="slide('next')"
			ng-show="showNextArrow"
		></div>
		<div 
			class="nav__arrows nav__arrows--prev" 
			ng-click="slide('prev')"
			ng-show="showPrevArrow"
		></div>
		<div class="nav__dots">
			<div 
				class="nav__dot" 
				ng-repeat="movie in NowPlaying"
				ng-class="{nav__dotActive: $index==currSlide}"
				ng-click="slide($index)">					
			</div>
		</div>
	</div>

	<div class="home__discover" ng-hide='hideDiscovers'>
		<div class="discover">
			<div class="column-left">
				<div class="blockName">
					<p>discover</p>
					<hr>
					<div class="clearfix"></div>
				</div>
				<div class="discover__typeControls">	
					<label class="control-label">
						<input type="radio" value="popular" name="type" ng-model="discoverType" ng-change="checkDiscover()">
						<span class="control-wrapper">
							<img src="images/favorite.svg" alt="">
							Popular
						</span>
					</label>
					<label class="control-label">
						<input type="radio" value="latest" name="type" ng-model="discoverType" ng-change="checkDiscover()">
						<span class="control-wrapper">
							<img src="images/latest.svg" alt="">
							Latest
						</span>
					</label>
					<label class="control-label">
						<input type="radio" value="movies" name="kind" ng-model="discoverKind" ng-change="checkDiscover()">
						<span class="control-wrapper">
							<img src="images/play.svg" alt="">
							Movies
						</span>
					</label>
					<label class="control-label">
						<input type="radio" value="tvshows" name="kind" ng-model="discoverKind" ng-change="checkDiscover()">	
						<span class="control-wrapper">
							<img src="images/monitor.svg" alt="">
							TV Shows
						</span>
					</label>
				</div>
			</div>
			<div class="column-right">
				<div class="discover__genreControls">
					<label class="control-label">
						<input type="radio" value="thriller" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Thriller</span>
					</label>
					<label class="control-label">
						<input type="radio" value="fantasy" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Fantasy</span>
					</label>
					<label class="control-label">
						<input type="radio" value="horror" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">	
						<span class="control-wrapper">Horror</span>
					</label>
					<label class="control-label">
						<input type="radio" value="comedy" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">	
						<span class="control-wrapper">Comedy</span>
					</label>
					<label class="control-label">
						<input type="radio" value="romance" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Romance</span>
					</label>
					<label class="control-label">
						<input type="radio" value="adventure" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Adventure</span>
					</label>
					<label class="control-label">
						<input type="radio" value="documentary" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">	
						<span class="control-wrapper">Documentary</span>
					</label>
					<label class="control-label">
						<input type="radio" value="drama" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Drama</span>
					</label>
					<label class="control-label">
						<input type="radio" value="for-kids" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">				
						<span class="control-wrapper">For Kids</span>
					</label>
				</div>
				<div class="discover__results">
					<div class="discover__main-cont">
						<div class="discover__result" ng-repeat='movie in discovers'>
							<div class="discover__img-cont">	
								<img ng-src="{{movie.poster}}" alt="">
							</div>
							<div class="discover__data-cont">
								<a href="/#/movie/{{movie.id}}">{{movie.title || movie.name}}</a><br>
								<div>	{{movie.fullDate}}</div>
							</div>
						</div>
					</div>
					<div 
						class="nav__arrows nav__arrows--next" 
					></div>
					<div 
						class="nav__arrows nav__arrows--prev" 
					></div>
				</div>
			</div>
		</div>
	</div> 

	<div class="home__celebrities" ng-hide='hideCelebrities'>
		<div class="blockName">
					<p>celebrities</p>
					<hr>
					<div class="clearfix"></div>
		</div> 
		<div class="celebrities">	
			<div ng-repeat='person in celebrities' class="celebrities__person">
				<div class="celebrities__img-cont">	
					<a href='/#/actor/{{person.id}}'>
						<img ng-src="{{person.profile}}" alt="">
					</a>
				</div>
				<div class="celebrities__data-cont">	
					<h1 class="celebrities__name">
						<a href='/#/actor/{{person.id}}'>{{person.name}}</a>
					</h1>
					<a class="celebrities__movie" href='/#/movie/{{person.movie.id}}'>{{person.movie.title}}</a>
				</div>
			</div> 
		</div>
	</div>

	<div class="home__upcoming" ng-hide='hideUpcoming'>
		<div class="blockName">
					<p>upcoming</p>
					<hr>
					<div class="clearfix"></div>
		</div> 
		<div class="upcoming">
			<div class="upcoming__column-left">
				<a href="/#/movie/{{Upcoming[0].id}}">
					<img ng-src="{{Upcoming[0].poster}}" alt="">
				</a>
				<h3>{{Upcoming[0].title}}</h3>
			</div>
			<div class="upcoming__column-right">
				<div class="upcoming__header">comming soon</div>
				<div class="upcoming__movies">
					<div ng-repeat="movie in Upcoming | filter: upcomingFilter" class="upcoming__movie">
						<a class="upcoming__movie__name" href="/#/movie/{{movie.id}}">{{movie.title}}</a>
						<div class="upcoming__movie__date">{{movie.fullDate}}</div>
						<div class="upcoming__movie__progressbar">
							<div style="width:{{movie.vote_average*10}}%"></div>
						</div>
						<span class="upcoming__movie__vote">{{movie.vote_average}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="blockName">
			<p>news feed</p>
			<hr>
			<div class="clearfix"></div>
		</div> 
		<div class="news" ng-hide='hideNews'>
			<div ng-repeat='block in news | filter: newsFilter' class="news__block">
				<div class="news__img-cont">
					<img ng-src="http://static01.nyt.com/{{block.multimedia[0].url}}" alt="">
				</div>
				<div class="news__data-cont">
					<div ng-bind-html = 'block.lead_paragraph | html' class="news__info"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div> 	
	</div> 	
	<div class="home__topRated" ng-hide='hideTopRated'>
		<div class="blockName">
					<p>top rated</p>
					<hr>
					<div class="clearfix"></div>
		</div> 
		<div class="topRated">
				<div ng-repeat='movie in TopRated' class="topRated__movie">
					<div class="topRated__index">{{ $index +1 }}</div>
					<div class="topRated__poster">
						<img ng-src="{{movie.poster}}" alt="">
					</div>
					<div class="topRated__info">
						<div class="topRated__title">{{movie.title}}</div>
						<div class="topRated__genres">
							<span ng-class="{genres: movie.genres.length>1}" ng-repeat='genre in movie.genres'> {{genre.name}}</span>
						</div>
					</div>
					<div class="topRated__vote">
						<span> rate:</span> {{movie.vote_average}}
					</div>
					<div class="topRated__watch">
						<img src="images/watch.svg" alt="">
					</div>
				</div>
		</div>	
	</div>
	
	
			

	<div 
	class="modal"
	ng-show="subview"
	ng-click="closeModal()">

	<div class="modal__container">
		
		<iframe wmode="Opaque" height="360" src="{{params}}"></iframe>
		
	</div>


</div>
</div>