<div class='home'>
</div>
	<div class="home__banner" ng-hide="hideNowPlaying">
			<div class="home__banner-cont">
				<div class="nav__arrows nav__arrows--prev" ng-click="slideNowplay('prev')"	ng-show="showPrevArrow">
						<img class="nav-arr nav-arr--prev" src="images/arr.svg" alt="">
				</div>
				<div class='nowplay' ng-repeat = "(i,movie) in NowPlaying">
						<div class='nowplay-item'  ng-show="currSlide == i">
								<div class="nowplay__img-cont">
									<img ng-src={{movie.poster}}/>
								</div>
								<div class='nowplay__data-cont'>
											<div>{{movie.year}}</div>
											<div class="nowplay__name"><a class="nowplay__name__link" href='/#/movie/{{movie.id}}'>{{movie.title}}</a></div>
								<div class="nowplay__additional">
									<div class='nowplay__date'>{{movie.fullDate}}</div>
									<div class="nowplay__votes">
										<span class="nowplay__votes-cont">
											<img class="star"

												ng-attr-src="{{movie.vote <= 2 ? 'images/starhalf.svg' : 'images/star.svg'}}"
												alt="">
											<img class="star"

												ng-attr-src="{{movie.vote<=4 ? (movie.vote<=2 ? 'images/unstar.svg' : 'images/starhalf.svg') : 'images/star.svg'}}"
												alt=""/>
											<img class="star"

												ng-attr-src="{{movie.vote<=6 ? (movie.vote<=4 ? 'images/unstar.svg' : 'images/starhalf.svg') : 'images/star.svg'}}"
												alt=""/>
											<img class="star"

												ng-attr-src="{{movie.vote<=8 ? (movie.vote<=6 ? 'images/unstar.svg' : 'images/starhalf.svg') : 'images/star.svg'}}"
												alt=""/>
											<img class="star"

												ng-attr-src="{{movie.vote<=10 ? (movie.vote<=8 ? 'images/unstar.svg' : 'images/starhalf.svg') : 'images/star.svg'}}"
												alt=""/>
										</span>
										<span class="nowplay__votes-rat">{{movie.vote}}/10</span>
									</div>
									<div class='nowplay__runtime'>{{movie.runtime}} min</div>
									<div class="nowplay__genres">
										<a class="nowplay__genre" ng-repeat = "genre in movie.genres" href=""><span class="nowplay__gen">{{genre.name}}</span></a>
									</div>
									<div class="nowplay__watchtrailer">
										<div class="nowplay__watchtrailer__button"></div>
										<div class="nowplay__watchtrailer__title"
												href="/#/home/trailer/{{movie.trailer}}"
												ng-click="showTrailer(movie.trailer)"
											>
											Watch Trailer</div>
									</div>
								</div>
								</div>
						</div>

				</div>
				<div class="nav__arrows nav__arrows--next" ng-click="slideNowplay('next')"	ng-show="showNextArrow">
						<img class="nav-arr nav-arr--next" src="images/arr.svg" alt="">
						<img class="nav-arr nav-arr--next" src="images/arr.svg" alt="">
				</div>

				<div class="nav__dots">
					<div
						class="nav__dot"
						ng-repeat="movie in nowplay"
						ng-class="{nav__dot--active: $index==currSlide}"
						ng-click="slide($index)">
					</div>
				</div>
			</div>
		</div>

<div class="home__block">
	<div class="home__discover" ng-hide='hideDiscovers'>
		<div class="discover">
			<div class="column-left">
				<div class="block-name">
					<p>discover</p>
					<hr>
					<div class="clearfix"></div>
				</div>
				<div class="discover__typeControls">
					<label class="control-label">
						<input type="radio" value="popular" name="type" ng-model="discoverType" ng-change="checkDiscover()">
						<span class="control-wrapper">
							<img src="images/favorite.svg" alt="">
							Popular
						</span>
					</label>
					<label class="control-label">
						<input type="radio" value="latest" name="type" ng-model="discoverType" ng-change="checkDiscover()">
						<span class="control-wrapper">
							<img src="images/latest.svg" alt="">
							Latest
						</span>
					</label>
					<label class="control-label">
						<input type="radio" value="movies" name="kind" ng-model="discoverKind" ng-change="checkDiscover()">
						<span class="control-wrapper">
							<img src="images/play.svg" alt="">
							Movies
						</span>
					</label>
					<label class="control-label">
						<input type="radio" value="tvshows" name="kind" ng-model="discoverKind" ng-change="checkDiscover()">
						<span class="control-wrapper">
							<img src="images/monitor.svg" alt="">
							TV Shows
						</span>
					</label>
				</div>
			</div>
			<div class="column-right">
				<div class="discover__genreControls">
					<label class="control-label">
						<input type="radio" value="thriller" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Thriller</span>
					</label>
					<label class="control-label">
						<input type="radio" value="fantasy" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Fantasy</span>
					</label>
					<label class="control-label">
						<input type="radio" value="horror" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Horror</span>
					</label>
					<label class="control-label">
						<input type="radio" value="comedy" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Comedy</span>
					</label>
					<label class="control-label">
						<input type="radio" value="romance" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Romance</span>
					</label>
					<label class="control-label">
						<input type="radio" value="adventure" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Adventure</span>
					</label>
					<label class="control-label">
						<input type="radio" value="documentary" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Documentary</span>
					</label>
					<label class="control-label">
						<input type="radio" value="drama" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">Drama</span>
					</label>
					<label class="control-label">
						<input type="radio" value="for-kids" name="genre" ng-model="discoverGenre" ng-change="checkDiscover()">
						<span class="control-wrapper">For Kids</span>
					</label>
				</div>
				<div class="discover__results">
					<div class="discover__main-cont" id="bla">
						<div class="discover__result" ng-repeat='movie in discovers'>
							<div class="discover__img-cont">
								<img ng-src="{{movie.poster}}" alt="">
							</div>
							<div class="discover__data-cont">
								<a href="/#/movie/{{movie.id}}">{{movie.title || movie.name}}</a><br>
								<div>	{{movie.fullDate}}</div>
							</div>
						</div>
					</div>
					<div
						class="nav__arrows nav__arrows--next"
					></div>
					<div
						class="nav__arrows nav__arrows--prev"
					></div>
				</div>
			</div>
		</div>
	</div>

	<div class="home__celebrities" ng-hide='hideCelebrities'>
		<div class="block=name">
					<p>celebrities</p>
					<hr>
					<div class="clearfix"></div>
		</div>
		<div class="celebrities">
			<div ng-repeat='person in celebrities' class="celebrities__person">
				<div class="celebrities__img-cont">
					<a href='/#/actor/{{person.id}}'>
						<img ng-src="{{person.profile}}" alt="">
					</a>
				</div>
				<div class="celebrities__data-cont">
					<h1 class="celebrities__name">
						<a href='/#/actor/{{person.id}}'>{{person.name}}</a>
					</h1>
					<a class="celebrities__movie" href='/#/movie/{{person.movie.id}}'>{{person.movie.title}}</a>
				</div>
			</div>
		</div>
	</div>

	<div class="home__upcoming" ng-hide='hideUpcoming'>
		<div class="block-name">
					<p>upcoming</p>
					<hr>
					<div class="clearfix"></div>
		</div>
		<div class="upcoming">
			<div class="upcoming__column-left">
				<a href="/#/movie/{{Upcoming[0].id}}">
					<img ng-src="{{Upcoming[0].poster}}" alt="">
				</a>
				<h3>{{Upcoming[0].title}}</h3>
			</div>
			<div class="upcoming__column-right">
				<div class="upcoming__header">comming soon</div>
				<div class="upcoming__movies">
					<div ng-repeat="movie in Upcoming | filter: upcomingFilter" class="upcoming__movie">
						<a class="upcoming__movie__name" href="/#/movie/{{movie.id}}">{{movie.title}}</a>
						<div class="upcoming__movie__date">{{movie.fullDate}}</div>
						<div class="upcoming__movie__progressbar">
							<div style="width:{{movie.vote_average*10}}%"></div>
						</div>
						<span class="upcoming__movie__vote">{{movie.vote_average}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div ng-hide='hideNews'>
		<div class="block-name">
				<p>news feed</p><hr>
				<div class="clearfix"></div>
		</div>
		<articleul arr="news" isexplicit="false"  filter="newsFilter" />
	</div>
	<div class="home__topRated" ng-hide='hideTopRated'>
		<div class="block-name">
				<p>top rated</p><hr>
				<div class="clearfix"></div>
		</div>
		<list arr="TopRated"/>
	</div>
</div>

	<div
		class="modal"
		ng-show="subview"
		ng-click="closeModal()">

		<div class="modal__container">

			<iframe wmode="Opaque" height="360" src="{{params}}"></iframe>

		</div>


	</div>
</div>
