.home {
	&__banner {
		overflow:hidden;
		position:relative;
		height:450px;
		margin-bottom: 50px;
	}
	&__discover {
		margin: 0 130px;
		height:370px;
	}
}
.nowPlaying {
	position:absolute;
	z-index: 5;
	&__main-cont {
		position:relative;
		
	}
	&__img-cont {
		img {
			width:100%;
		}
	}
	&__data-cont {
		position:absolute;
		top:70px;
		left:70px;
	}
	
	
}

.nav {
	&__arrows {
		width:50px;
		height:50px;
		background-color: orange;
		z-index: 10;
		position:absolute;
		top:200px;
		&--next {
		  right: 50px;
		}
		&--prev {
			  left: 50px;
		}
	}
	&__dots {
		position:absolute;
		z-index:10;
		bottom: 25px;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 105px;
		.nav__dot {
			width: 11px;
			height: 11px;
			margin: 5px;
			display: inline-block;
			border-radius: 50%;
			border: 2px solid white;
			cursor: pointer;
			&.nav__dotActive {
				border-color: $mainBlue;
			}
		}
	}
}



.discover {
	display:flex;
	.column-left {
		width:235px;
		flex-shrink: 0;
	}
	&__typeControls {
		height: 100%;
		padding-top: 20px;
		
		.control-label {
			display: block;
			height: 37px;
			margin-bottom: 15px;
		}
		.control-wrapper {
			width: 145px;
			line-height: 37px;
			
			img {
				width: 15px;
				vertical-align: middle;
				margin: 0px 15px;
			
			}
		}
	}
	&__genreControls {
  		    text-align: center;
			  margin-bottom: 30px;
  		.control-label {
			display: inline-block;
			height: 30px;
			margin-bottom: 15px;
			  margin-left: 10px;
		}
		.control-wrapper {
	  		background-color: white;
	  		border: 2px solid $mainGray;
			min-width: 100px;
			line-height: 30px;
			  text-align: center;
		}
		
	}
	&__results {
		padding-left:20px;
	}
}



