
@mixin bp($point) {
    @if $point == medium {
      @media (max-width: 768px) { @content; }
  }
    @else if $point == small {
      @media (max-width: 481px) { @content; }
  }
    @else if $point == very-small {
      @media (max-width: 320px)  { @content; }
  }
    @else if $point == large {
      @media (max-width: 1024px)  { @content; }
  }
    @else if $point == very-large {
    @media (min-width: 1025px)  { @content; }
  }
}

@mixin mainControl() {
  background-color: $mainBlue;
  color:$white;
  border-color:$mainBlue;
  cursor: default;
}
