/*colors*/


$aqua: rgb(67, 206, 162);/*#43cea2*/
$royalBlue: rgb(24, 90, 157);/*#185a9d*/
$mainBlue: rgb(26, 130, 203);

$primaryFont: rgb(82,95,101);
$secondaryFont: rgb(185,185,185);
$lightestGray:	rgb(240,240,240);
$mainGray: rgb(224,224,224);
$lightGray:	rgb(215,215,215);


/*functional*/
$contWidth: 1200px;

