<div class="article">
  <div class="article__primary">
    <div ng-repeat='block in arr' ng-if="$index === 0" class="article__block">
      <h3>
          {{block.headline.main}}
      </h3>
      <img ng-src="{{sourceUrl}}{{block.multimedia[0].url}}" alt="news image">
    </div>
  </div>
  <div ng-repeat='block in arr' class="article__block" ng-if="$index !== 0">
    <div class="article__img-cont">
      <img ng-src="{{sourceUrl}}{{block.multimedia[0].url}}" alt="news image">
    </div>
    <h3>
        {{block.headline.main}}
    </h3>
    <div ng-repeat='keyword in block.keywords' class="article__block" ng-if="keyword.value.length <= 15">
      {{keyword.value}}
    </div>
    <div class="article__data-cont">
      <div ng-bind-html = 'block.lead_paragraph | html' class="article__info"></div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
