<div class='home'>


	
	<div class="home__banner">
		Big full slider with now Playing Movies - 3 img with info
		<img src={{nowPlayingPoster}}/>
	</div>

	<div class="">
		<div>
			Tabs with Movies and TV's
			<div>
				small slider with 4 shown and 4 hidden Popular Movies
				<img src={{popularPoster}}/>
			</div>
			<div>
				small slider with 4 shown and 4 hidden Popular TVShows
				<img src={{popularPoster}}/>
			</div>
		</div>

	</div>

	<div class="">
		
		<div>
			6 random Popular Persons (name, profile_path, known_for)
			Picture-link with name-link and one movie-link
		</div>

	</div>

	<div class="">
			Upcoming Movie - one poster-link, movie name-link - 0 in results

			three movies with name, rating tube and release date


			<img src={{upcomingPoster}}/>
	</div>		
	<div class="">
		Top Rated - list with 6 top movies - title-link, genre, rate
		<img src={{topRatedPoster}}/>
	</div>
	
	<div class="news">
		News Block -1 or 2 news issue (find a design)
	</div>

	
</div>