<nav>
	<div class="navBlock">
		<div class="navHeading">
			<h2>News</h2>
		</div>
		<div class="navItems">	
			<ul>
				<li class="navItem">The latest movie news</li>
			</ul>
		</div>
	</div>
	<div class="navBlock">
		<div class="navHeading">
			<h2>Movies</h2>
		</div>
		<div class="navItems">	
			<ul>
				<li class="navItem">Popular</li>
				<li class="navItem">Comedy</li>
				<li class="navItem">Horror</li>
				<li class="navItem">Drama</li>
				<li class="navItem">Thriller</li>
			</ul>
		</div>
	</div>
	<div class="navBlock">
		<div class="navHeading">
			<h2>TV shows</h2>
		</div>
		<div class="navItems">	
			<ul>
				<li class="navItem">Popular TV shows</li>
			</ul>
		</div>
	</div>
	<div class="navBlock">
		<div class="navHeading">
			<h2>Actors</h2>
		</div>
		<div class="navItems">	
			<ul>
				<li class="navItem">Popular persons</li>
			</ul>
		</div>
	</div>
	<div class="navBlock">
		<div class="navHeading">
			<h2>My Account</h2>
		</div>
		<div class="navItems">	
			<ul>
				<li class="navItem">Favorites</li>
				<li class="navItem">My watch list</li>
			</ul>
		</div>
	</div>
</nav>